Repository brandoncanaday/brandon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write, markdownlint --fix

.lintstagedrc.json:

{
    "**/*.{js,jsx,ts,tsx,json}": [
        "eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix",
        "prettier --write"
    ],
    "**/*.md": ["markdownlint --fix", "prettier --write"]
}

refactor: attempt to make commitlint and commitizen work together
  .husky/commit-msg
Due: none

refactor: remove unnecessary git hook
  .husky/prepare-commit-msg
  package.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write

feat: add build and deploy pipelines
  .env
  .env.js.example
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .releaserc.json
  .vscode/settings.json
  Dockerfile
  package.json
  src/@types/window.env.d.ts
  src/App.tsx
  src/models/app-config.ts
  yarn.lock
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write

fix: update where .env.js in COPY'd in dockerfile
  .github/workflows/build.yml
  Dockerfile
Due: none

fix: test out toJson(secrets) call in CI pipeline
  .dockerignore
  .env.js.example
  .eslintrc.json
  .github/workflows/build.yml
  .gitignore
  Dockerfile
  config.js
  config.js.example
  package.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write

feat: test out github release
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  Dockerfile
  package.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write

fix: add GITHUB_TOKEN env variable so release job doesnt fail
  .github/workflows/ci.yml
Due: none

chore(release): 1.0.0 - Nov 16, 2021, 1:00 AM [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write, markdownlint --fix

Notes added by 'git notes add'
  d3a5b25c8e838363c1af1b6320dfb7048e8481a7
Due: none

feat: add dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
  .markdownlintignore
  .releaserc.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write

ci: fix error with commenting on dependabot PR build
  .github/workflows/ci.yml
Due: none

chore(release): 1.1.0 - Nov 16, 2021, 4:09 AM [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write, markdownlint --fix

Notes added by 'git notes add'
  95d38ba6f4b1d9d94310fd5064f66e8a0cdfd0e4
Due: none

fix: change build artifact to be a .tar.gz compressed file
  .github/workflows/ci.yml
  .releaserc.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write

fix: test new release trigger
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .releaserc.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write

chore(release): 1.1.1 - Nov 18, 2021, 5:02 AM [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write, markdownlint --fix

Notes added by 'git notes add'
  fe1d8e379ba1e4574d5d1f526c6b1dae15a4b742
Due: none

fix: test new release trigger again
  .github/workflows/cd.yml
Due: none

chore(release): 1.1.2 - Nov 18, 2021, 5:34 AM [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write, markdownlint --fix

Notes added by 'git notes add'
  984fdc480576512c9755f33f862cd44379da7fe1
Due: none

fix: change release trigger to on created instead of published
  .github/workflows/cd.yml
Due: none

Notes added by 'git notes add'
  c80616d9fc20468b84b1d0b1abff1b78d477a48b
Due: none

chore(release): 1.1.3 - Nov 20, 2021, 7:11 PM [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --ext .js,.jsx,.ts,.tsx --format=pretty --fix, prettier --write, markdownlint --fix
